.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 6;
}

.icon-right {
  width: 25px;
  height: 25px;
  margin-left: 6;
  /* background-color: #20232A; */
}